<!DOCTYPE html>
<html ng-app="TemplateMaker">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Template Maker</title>
<!-- css -->
<link href="styles.css" rel="stylesheet" type="text/css"/>

<!-- libraries -->
<script type="text/javascript" src="js/jQuery.min.js"></script>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/fileSaver.min.js"></script>

<script type="text/javascript"> angular.module('TemplateMaker', []); </script>

<!-- load angular components -->
<script type="text/javascript" src="js/template_factory.js"></script>
<script type="text/javascript" src="js/directive_fileDropper.js"></script>
<script type="text/javascript" src="js/controller_mainController.js"></script>


</head>
<body>
<div id="content" ng-cloak ng-controller="MainController as MainCtrl" ng-class="{helper: fields.length>0}" >

<nav><ul class="inline unstyled">
	<li class="brand">Template Maker</li>
	<li><a href="#" ng-click="setCurrentView(1)" ng-class="{active: currentView==1}">
    {{ !templateLoaded() ? "Load Template(s)" : "Change Template(s)" }}</a></li>
    <li ng-show="templateList.length > 0"><a href="#" ng-click="setCurrentView(2)" ng-class="{active: currentView==2}">Template(s) <span class="pill" ng-hide="templateList.length==0">{{ templateList.length }}</span></a></li>
    <li ng-show="fields.length > 0"><a href="#" ng-click="setCurrentView(3)" ng-class="{active: currentView==3}">Fields <span class="pill" ng-hide="fields.length==0">{{ fields.length }}</span></a></li>
    <li ng-show="fields.length > 0"><a href="#" ng-click="setCurrentView(4)" ng-class="{active: currentView==4}">Export</a></li>
    <li><a href="#" ng-click="setCurrentView(5)" ng-class="{active: currentView==5}">Help</a></li>
	</ul></nav>
    
<div class="fit nav-wrap">
	
<div id="templates" ng-show="currentView==1">
	<file-dropper ondrop="dropTemplateFiles()" label="Drag and Drop Template Files Here"></file-dropper>
	</div>
    
<div id="main" ng-show="currentView==2" >
	<div class="wrapper">
		<h2>Templates</h2>
    	<ul id="fileList"  ng-show="templateList.length>0">
    		<li ng-repeat="(key,value) in templateList">{{value.name}}</li>
        </ul>
        <button ng-click="clearTemplates()">Clear all</button>
   	</div>
</div><!--template-->

   
<div id="sidebar" ng-show="currentView==3">
	<h2>Fields</h2>
	<div class="danger" ng-show="fields.length==0" >There were no variables found.</div>
	<div id="fields" ng-show="fields.length>0">
	<ul class="unstyled">
    <li ng-repeat="field in fields">
        <div ng-if="field.type=='text'">
        	<label>{{field.clean}}</label>
        	<input type="text" ng-model="field.value" ng-change="updateFieldValue(field.name, field.value)" data-replace="{{field.data_replace}}" value="{{field.value}}"/>
        	</div>
            <div ng-if="field.type=='choose'">
            	<label>{{field.name}}</label>
                <select ng-model="field.value" ng-change="updateFieldValue(field.name, field.value)" data-replace="{{field.data_replace}}">
                	<option ng-repeat="option in field.options">{{option}}</option></select>
            	</div>
           <div ng-if="field.type=='textarea'">
        	<label>{{field.name}}</label>
        	<textarea  ng-model="field.value" ng-change="updateFieldValue(field.name, field.value)" data-replace="{{field.data_replace}}">{{field.value}}</textarea>
        	</div>
    	</li>
    </ul>
    
    <file-dropper ondrop="" label="Import values"></file-dropper>
	</div>
    
</div><!--sidebar-->

<div id="final" ng-show="currentView==4">
	<div class="wrapper">
    <h2 ng-show="templateList.length>0">Exported files:</h2>
    <ul id="fileList">
    	
    	<li ng-repeat="(key, file) in templateList">
        	<div style="float:right">
            <button ng-click="previewHTML(file)">Preview</button>
            <button ng-click="exportDownloadSingleFile(file)">Download</button>
             	</div>
            
            {{file.name}}
            	<div class="clearfix"></div>
        	</li>
           <li><div style="float:right">
            <button ng-click="exportFields()">Export</button>
             	</div>
                Variable fields
                <div class="clearfix"></div>
                </li>
    	</ul>
    
    <br>
	<button ng-click="exportAllTemplates()">Export all</button>
    </div>
</div><!-- generated-->


<div id="help" ng-show="currentView==5">
	<div class="wrapper">
    <p><strong>Variables</strong> should follow this format:</p>
    <p>#variable_name#</p>
    <p>The variable should not include spaces, instead use underscores. Each variable should start and end with a hashtag.</p>
    <p>For input that is longer than a simple textbox, like a paragraph, you can use the textarea extension to tell the fields menu to let you use a textarea, you can do this, by following this format:</p>
    <p>#variable_name:textarea#</p>
    <p>More questions, please contact <a href="mailto:john.proestakes@optum.com">John</a></p>
    </div>
</div> <!--help-->  

</div><!--nav-wrap-->

</div><!--content-->


    
</body>



<script type="text/javascript">
var $ = jQuery.noConflict();
(function(){
Array.prototype.getUnique = function(){
   var u = {}, a = [];
   for(var i = 0, l = this.length; i < l; ++i){
      if(u.hasOwnProperty(this[i])) {
         continue;
      }
      a.push(this[i]);
      u[this[i]] = 1;
   }
   return a;
}

$(window).on('load resize', function(){
		$('.fit').each(function(){
			var t = $(this);
			var sib = t.siblings();
			var heights = 0;
			sib.each(function(){
				heights+= $(this).height();
				});
			t.height(t.parent().height()-heights);
			
			});
		});
	})();




/*$.fn.fileDroppable = function(callback){
	var obj = $(this);
		
		
		
		obj.get(0).addEventListener('drop', function(evt) {
    evt.stopPropagation();
    evt.preventDefault();
    var files = evt.dataTransfer.files; // FileList object.
	console.log(files);
	var scope = angular.element('#dropTemplates').scope();
		scope.$apply(function(){
			scope.templateList=files;
		});
    var reader = new FileReader();
	reader.onloadend = function(evt){
		!callback.success || callback.success(evt, obj);
		};
	reader.readAsBinaryString(files[0]);
  }, false);
	
		
	};*/

	
	
	$(document).ready(function(){
		/*
		 $('#dropTemplates').fileDroppable({
			 dragEnd: function(evt, obj){
				 obj.css("border","");
				 },
			dragOver: function(evt, obj){
				obj.css("border", "solid 5px magenta");
				},
			success: function(evt, obj){
				var dropText = evt.target.result;
		var scope = angular.element('#dropTemplates').scope();
		scope.$apply(function(){
			scope.preview = dropText;
			scope.exported=[];
			scope.getFieldList();
			scope.setCurrentView(2);
			
			});
			
			
		setTimeout(function(){$('#dropTemplates').css("border", "");},100);
				}*/
				
			 });
			 
			 /*
			 
			 $('#dropValues').fileDroppable({
			 dragEnd: function(evt, obj){
				 obj.css("border","");
				 },
			dragOver: function(evt, obj){
				obj.css("border", "solid 5px magenta");
				},
			success: function(evt, obj){
				var dropText = evt.target.result;
		var scope = angular.element('#dropValues').scope();
		scope.$apply(function(){
			scope.importFieldValues(dropText);
					
			});
			
		setTimeout(function(){$('#dropValues').css("border", "");},100);
				}
				
			 });
		});*/
		
	</script>
</html>
