@media screen and (max-width: 767px) {
  .wide-view {
    display: none !important; } }

@media screen and (min-width: 767px) {
  .narrow-view {
    display: none !important; } }

.truncate {
  width: 100%;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.ui.vertical.menu {
  width: 100%; }

.ui.inverted.steps {
  border-color: rgba(255, 255, 255, 0.35);
  line-height: 1em; }
  .ui.inverted.steps .step {
    font-size: .8rem;
    background-color: #1B1C1D !important;
    color: #fff;
    border-right: 1px solid rgba(255, 255, 255, 0.35); }
  .ui.inverted.steps .disabled.step::after, .ui.inverted.steps .step::after {
    background-color: #1B1C1D;
    border-color: rgba(255, 255, 255, 0.35); }
  .ui.inverted.steps .disabled.step {
    color: rgba(255, 255, 255, 0.35) !important; }
    .ui.inverted.steps .disabled.step .title {
      color: rgba(255, 255, 255, 0.35) !important; }

.time a {
  display: inline-block;
  padding: .5em; }

.field-group {
  padding-left: 1em;
  padding-top: .5em;
  padding-right: 1em;
  padding-bottom: 1em;
  border: 0 0 0 0;
  border-left: 5px solid;
  border-color: green;
  margin-top: .5em;
  margin-bottom: 1em; }
  .field-group .header {
    color: green;
    padding-bottom: .75em;
    text-transform: uppercase;
    font-weight: bold; }

.ungrouped {
  padding-left: 1em;
  padding-top: .5em;
  padding-right: 1em;
  padding-bottom: 1em;
  margin-top: .5em;
  margin-bottom: 1em; }
  .ungrouped .header {
    display: none; }

.field-group:nth-child(n+1) {
  border-color: #00b5ad;
  background-color: rgba(0, 181, 173, 0.1); }
  .field-group:nth-child(n+1) .header {
    color: #00b5ad; }

.field-group:nth-child(n+2) {
  border-color: #6435c9;
  background-color: rgba(100, 53, 201, 0.1); }
  .field-group:nth-child(n+2) .header {
    color: #6435c9; }

.field-group:nth-child(n+3) {
  border-color: #a333c8;
  background-color: rgba(163, 51, 200, 0.1); }
  .field-group:nth-child(n+3) .header {
    color: #a333c8; }

.field-group:nth-child(n+4) {
  border-color: #e03997;
  background-color: rgba(224, 57, 151, 0.1); }
  .field-group:nth-child(n+4) .header {
    color: #e03997; }

.field-group:nth-child(n+5) {
  border-color: #f2711c;
  background-color: rgba(242, 113, 28, 0.1); }
  .field-group:nth-child(n+5) .header {
    color: #f2711c; }

.field-group:last-child {
  margin-bottom: 5em; }

.field-group.ungrouped {
  border: 0;
  padding-left: auto; }

.file-dropper {
  border: dashed 3px #ccc;
  color: #ccc;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin-top: 1em;
  box-sizing: content-box; }
  .file-dropper.dragOver {
    border: solid 3px #A333C8;
    color: #A333C8;
    background-color: rgba(163, 51, 200, 0.5); }

.ui.fixed.container {
  position: fixed;
  background-color: #fff;
  border-top: 1px solid rgba(34, 36, 38, 0.15);
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
  min-height: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
  z-index: 101;
  margin: 0;
  width: 100%;
  bottom: 0;
  right: 0;
  left: 0; }
  .ui.fixed.container .ui.container {
    margin-top: 1em;
    margin-bottom: 1em; }

jupiter-draggable,
.draggable {
  display: block;
  position: relative;
  margin-bottom: 1em;
  position: relative;
  padding-left: 2em; }

.close.link {
  position: absolute;
  left: -1px;
  bottom: .5em;
  color: #A333C8; }
  .close.link:hover {
    color: #daabe9;
    cursor: pointer; }

.drag-handle {
  position: absolute;
  bottom: 2.25em;
  left: 0;
  top: 0;
  background: #eee;
  width: 1em; }
  .drag-handle:hover {
    background-color: #A333C8; }

.additional-attr {
  padding: 1em;
  background: #ccc; }

.repeat {
  margin-bottom: 1em;
  border-bottom: solid 1px #eee;
  padding-bottom: 1.5em;
  margin-bottom: 1.5em; }
