
$accentColor: #701a32;


.time {
  a {
    display: inline-block;
    padding:.5em;

  }
}


.file-dropper {
  border: dashed 3px #ccc;
  color: #ccc;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin-top: 1em;
  box-sizing: content-box;
  &.dragOver {
    border: solid 3px $accentColor;
    color: $accentColor;
    background-color: rgba($accentColor, .5);
  }
}

.ui.fixed.container { position:fixed;
      background-color: #fff;
      border-top: 1px solid rgba(34,36,38,.15);
      box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
      min-height: 0 1px 2px 0 rgba(34,36,38,.15);
    z-index: 101;
    margin: 0;
    width: 100%; bottom:0; right:0; left:0;
    .ui.container {
      margin-top:1em; margin-bottom:1em;
    }
  }




jupiter-draggable,
.draggable {
  display:block;
  position:relative;
  margin-bottom:1em;
  position:relative;
  padding-left:2em;
}
.close.link {
  position: absolute;
  left: -1px;
  bottom:.5em;
  color: $accentColor;
  &:hover {
    color: lighten($accentColor, 30%);
    cursor: pointer;
  }
}


.drag-handle {
  position: absolute;
  bottom:2.25em;
  left:0;
  top:0;
  background: #eee;
  width: 1em;
  &:hover {
    background-color: $accentColor;
  }

}

.repeat { margin-bottom: 1em; border-bottom: solid 1px #eee; padding-bottom: 1.5em; margin-bottom: 1.5em;}
