
$accentColor: #A333C8;
@media screen and (max-width: 767px) {
  .wide-view { display:none !important; }
  // .narrow-view {display:block;}
}
@media screen and (min-width: 767px) {
  .narrow-view {display:none !important;}
  // .wide-view {}
}
.truncate {
  width: 100%;
  display:block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ui.vertical.menu {width: 100%;}
.ui.inverted.steps {
  border-color: rgba(255,255,255,.35);
  line-height: 1em;
  .step {
    font-size:.8rem;
    background-color: #1B1C1D !important; color: #fff;border-right: 1px solid rgba(255,255,255,.35) }
  .disabled.step::after, .step::after{
    background-color: #1B1C1D;
    border-color: rgba(255,255,255,.35);
  }
  .disabled.step {
    .title {color: rgba(255,255,255,.35) !important;}
    color: rgba(255,255,255,.35) !important;}
  // .disabled.step .content {color: rgba(255,255,255,.87) !important;}
}


.time {
  a {
    display: inline-block;
    padding:.5em;

  }
}


.field-group {
  .header  {color: green; padding-bottom: .75em;text-transform: uppercase; font-weight: bold;}
  padding-left: 1em;
  padding-top:.5em;
  padding-right:1em;
  padding-bottom: 1em;
  border: 0 0 0 0;
  border-left: 5px solid;
  border-color: green;
  margin-top: .5em;
  margin-bottom: 1em;
}

.ungrouped {
  .header {display: none;}
  padding-left: 1em;
  padding-top:.5em;
  padding-right:1em;
  padding-bottom: 1em;
  margin-top: .5em;
  margin-bottom: 1em;
}

$group-count: 1;
$group-colors: #00b5ad #6435c9 #a333c8 #e03997 #f2711c;
@each $color in $group-colors {
  .field-group:nth-child(n+#{$group-count}){
    border-color: $color;
    background-color: fade-out($color, .9);
    .header {
      color: $color;
    }
  }
  $group-count: $group-count + 1;
}
.field-group:last-child {
  margin-bottom:5em;
}




.field-group.ungrouped {
  border:0;
  padding-left: auto;

}

.file-dropper {
  border: dashed 3px #ccc;
  color: #ccc;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin-top: 1em;
  box-sizing: content-box;
  &.dragOver {
    border: solid 3px $accentColor;
    color: $accentColor;
    background-color: rgba($accentColor, .5);
  }
}

.ui.fixed.container { position:fixed;
      background-color: #fff;
      border-top: 1px solid rgba(34,36,38,.15);
      box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
      min-height: 0 1px 2px 0 rgba(34,36,38,.15);
    z-index: 101;
    margin: 0;
    width: 100%; bottom:0; right:0; left:0;
    .ui.container {
      margin-top:1em; margin-bottom:1em;
    }
  }




jupiter-draggable,
.draggable {
  display:block;
  position:relative;
  margin-bottom:1em;
  position:relative;
  padding-left:2em;
}
.close.link {
  position: absolute;
  left: -1px;
  bottom:.5em;
  color: $accentColor;
  &:hover {
    color: lighten($accentColor, 30%);
    cursor: pointer;
  }
}


.drag-handle {
  position: absolute;
  bottom:2.25em;
  left:0;
  top:0;
  background: #eee;
  width: 1em;
  &:hover {
    background-color: $accentColor;
  }

}


.additional-attr
{padding:1em; background: #ccc; }

.repeat { margin-bottom: 1em; border-bottom: solid 1px #eee; padding-bottom: 1.5em; margin-bottom: 1.5em;}
